:root {
  --main-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --secondary-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --button-pressing-color: #188ce8;
  --primary-black-color: #000000;
  --main-font: Roboto, sans-serif;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--primary-white-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-size: 16px;
  letter-spacing: 0.06em;

}
 textarea {
  resize: none;
   position: relative;
   padding: 12px 16px;
   font-family: inherit;
   font-size: inherit;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
    cursor: pointer;
 }

label {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  color: var(--secondary-text-color);

}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: var(--primary-white-color);
  border: 1px solid #ececec;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  z-index: 1;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--primary-black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-zone {
  color: var(--accent-color);
}

/* site nav */
.menu-link {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}
.site-nav .item {
  padding: 32px 0;
  position: relative;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;

  opacity: 1;
}

.site-contacts {
  display: flex;
  margin-left: auto;
}

.site-contacts .item + .item {
  margin-left: 50px;
}

.site-contacts .link {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);

}

/* hero  */

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
  position: relative;
}

.icon-black {
  position: absolute;
  top: 11px;
  left: 12px;

  transform: translateY( 100%);
  display: inline-block;
  fill: currentColor;

}

.form-input {
  position: relative;
  padding: 12px;
  padding-left: 42px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
}
/* 
.icon-black:hover,
.icon-black:focus{
  fill: var(--accent-color);
} */

.form-input:hover + .icon-black,
.form-input:focus + .icon-black {
  fill: var(--accent-color);
}

.form-input:hover {
  border-color: var(--accent-color);
}
.form-comment:hover {
  border-color: var(--accent-color);
}

/* .form-field:hover > .icon-black,
.form-field:focus-within>.icon-black {
  fill: var(--accent-color);
  border-color: var(--accent-color);
} */

.policy-link {
  color: var(--accent-color);
}
.form-field textarea::placeholder{
  color: rgba(117, 117, 117, 0.5);
}

.form-policy {
display: flex;
/* justify-content: center; */
margin-top: 20px;
margin-bottom: 30px;
padding-left: 36px;
}

/* .form-policy input[type="checkbox"]{
  margin-right: 9px;
} */
/* 

/* .form-policy::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: red;

} */

.check-box{
  position: absolute;
  width: 16px;
  height: 15px;
  display: inline-block;

  /* background-image: url("./images/svg/icon-check.svg"); */
  background-color: red;
  margin-left: -27px;

  border: 1px solid var(--primary-black-color);
  border-radius: 2px;
}

.input-checkbox:checked + .check-box{
  background-color: green;
}

/* .checkbox:checked + .form-policy::after {
  background-color: var(--accent-color);
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-white-color);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clsbtn {
  fill: currentColor;
  /* content: ""; */
}

.btn-close:hover,
.btn-close:focus {
  color: var(--accent-color);
}

.modal-title {
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
  
color: #212121;

margin-bottom: 30px;
}

/* button */

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 32px;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary {
  padding: 6px 22px;

  background-color: var(--additional-background-color);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--button-pressing-color);

}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.features {
  display: flex;
}

.features .item {
  margin-right: 30px;
}

.icon {
  content: "";
  display: inline-flex;
  width: 270px;
  height: 120px;
  background-color: var(--additional-background-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  fill: currentColor;
}

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.feature-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.71;
}

/* work */
.section.work {
  padding-top: 0;
}

.work-img {
  display: flex;
}
.work-img .item {
  margin-right: 30px;
}
.work-img .item:nth-child(3n) {
  margin-right: 0;
}

.work-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.overlay {
  position: relative;
}

.bg-thumb {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

/* team */

.team.section {
  background-color: var(--additional-background-color);
}

.team-container {
  display: flex;
  list-style: none;
}

.user-img {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
.job-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-align: center;
}

.team-card {
  margin-right: 30px;
  background: var(--primary-white-color);

  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-card:nth-child(4n) {
  margin-right: 0;
}
.team-content {
  padding: 30px 0;
}

.card-content {
  padding: 15px;
}

.card-text {
  margin-top: 10px;
}

.social.list {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.social .link {
  display: inline-flex;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social .item {
  margin-right: 10px;
}

.social .item:last-child {
  margin-right: 0;
}

.social .link:hover,
.social .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

}
.icons {
  fill: currentColor;
}

/* our clients */

.clients {
  display: flex;
}

.clients .link {
  display: flex;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .item {
  margin-right: 30px;
}
.clients .item:nth-child(6n) {
  margin-right: 0;
}

.icon-client {
  fill: currentColor;
}

.clients .link:hover,
.clients .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  margin: auto;

}
.address-data {
  margin-right: 70px;
}

.footer .logo {
  padding: 0;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .logo-zone {
  color: var(--accent-color);
}

.contact-link {
  margin-bottom: 9px;
}

.site-contact .link-address {
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
}

.links-title, 
.subscribe-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .icons {
  fill: var(--primary-white-color); 
}

.subscribe-menu {
  margin-left: auto;

}

.subscribe {
display: flex;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  padding: 15px 16px;
}
.button.subscribe {
  width: 200px;
  height: 50px;
  content: "";
  color: var(--primary-white-color);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  /* padding: 10px 28px; */
  font-family: inherit;
  letter-spacing: 0.06em;

}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
/* Portfilio */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .item {
  margin-right: 8px;
}

.filters .item:last-child {
  margin-right: 0;
}
.portfolio-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-element .title {
  margin-right: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-element .content {
  margin-top: 4px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio > .portfolio-element {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.portfolio-element:nth-child(3n) {
  margin-right: 0;
}

.portfolio-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .project-thumb,
.portfolio-link:focus .project-thumb {
  transform: translateY(0);
}
